.feature__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (max-width: 767px) {
    display: block;
    }
}

.feature__item {
    width: 270px; 

    @media screen and (max-width: 767px) {
        width: 50%; 
        margin-bottom: 30px;
    }

    @media screen  and (min-width: 768px) and (max-width:1119px) {
        width: 33.333%; 
    }
}

.feature__box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: $background-color-secondary;
    border-radius: 4px;
}


.feature__icon {
    fill: currentColor;
    width: 70px;
    height: 70px;

    @media screen and (max-width: 767px) {
        width: 50%; 
    }

    @media screen  and (min-width: 767px) and (max-width:1119px) {
        width: 33.333%; 
    }
}

.feature__title {
    color: $color-title;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;

    // @media screen and (max-width: 767px) {
    //     width: 450px; 
    // }
}

.feature__text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
}